<div class="container">
    <div class="row">
        <center>
            <h2>{{technique}}</h2>
        </center>
        <hr/>
    </div>
    <div ng-hide="finished || description">
        <div ng-show="image1" class="row row-centered">
            <div class="col-lg-6 col-md-6 col-xs-12 col-centered">
                <a><img class="img img-thumbnail dark" ng-src="images/{{image1}}" ng-click="vote(image1, image2)" />
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-centered">
                <a><img class="img img-thumbnail dark" ng-src="images/{{image2}}" ng-click="vote(image2, image1)" />
                </a>
            </div>
        </div>
        <div ng-show="image1" class="row row-centered">
            <button ng-click="draw(image1, image2)" class="draw-button btn  nextButton">It's a draw</button>
        </div>
    </div>
    <div id="finishMsg" ng-show="finished">
        <p>You have done all possible combinations for {{technique}}.</p>
    </div>
    <div id="endMsg" ng-show="rankingAvailable">
        <p>The experiment is finished. Thank you for your participation. You may if you wish so consult the ranking computed until now. </p>
    </div>
    <div ng-show="finished || rankingAvailable" class="row row-centered">
        <button ng-hide="rankingAvailable" ng-click="next()" class="draw-button btn  nextButton">Continue with {{nextTechnique}}</button>
        <button ng-show="rankingAvailable" ng-click="goToRanking()" class="draw-button btn  nextButton">Global ranking</button>
    </div>
    <hr/>

</div>
</div>